###############################################
# Metadata
###############################################
env      = "dev"
app_name = "network"
region   = "ap-northeast-1"

tags = {
  Environment = "dev"
  Project     = "portfolio"
  Owner       = "yourname"
}

###############################################
# Transit Gateway
###############################################
description                     = "Central Transit Gateway"
amazon_side_asn                 = 64512
auto_accept_shared_attachments  = "enable"
default_route_table_association = "disable"
default_route_table_propagation = "disable"

route_tables = {
  user = {
    name  = "rt-user"
    scope = "user"
  }
  spoke_to_network = {
    name  = "rt-spoke-to-network"
    scope = "spoke"
  }
  network_to_spoke = {
    name  = "rt-network-to-spoke"
    scope = "network"
  }
}

route_table_associations = [
  { vpc = "network", route_table = "network_to_spoke" }
]

route_table_propagations = [
  { vpc = "network", route_table = "spoke_to_network" }
]

tgw_state = {
  bucket = "my-tfstate-bucket"
  key    = "network/tgw/terraform.tfstate"
  region = "ap-northeast-1"
}

vpc_state = {
  bucket = "my-tfstate-bucket"
  key    = "network/vpc/terraform.tfstate"
  region = "ap-northeast-1"
}

ram_principals                = ["111111111111", "222222222222"] # 他AWSアカウントID
ram_share_name                = "tgw-share"
ram_allow_external_principals = false

###############################################
# VPC
###############################################
vpc_cidr = "192.168.0.0/16"
vpc_name = "network-vpc"

subnets = [
  { name = "ops-a", cidr = "192.168.1.0/24", az = "ap-northeast-1a" },
  { name = "ops-c", cidr = "192.168.2.0/24", az = "ap-northeast-1c" }
]

security_account_id = "333333333333"

###############################################
# VPC Endpoints
###############################################
endpoints = [
  {
    name         = "ssm"
    service_name = "com.amazonaws.ap-northeast-1.ssm"
    type         = "Interface"
    subnet_names = ["ops-a", "ops-c"]
  },
  {
    name         = "logs"
    service_name = "com.amazonaws.ap-northeast-1.logs"
    type         = "Interface"
    subnet_names = ["ops-a", "ops-c"]
  },
  {
    name         = "s3"
    service_name = "com.amazonaws.ap-northeast-1.s3"
    type         = "Gateway"
  }
]
