# composition/terraform-remote-backend/ap-northeast-1/dev/terraform.tfvars.example

env      = "dev"
app_name = "rensyu-app"
region   = "ap-northeast-1"

# S3 Bucket Settings
versioning_enabled = true
server_side_encryption_configuration = {
  rule = {
    apply_server_side_encryption_by_default = {
      sse_algorithm = "AES256"
    }
  }
}
control_object_ownership = true

# DynamoDB Table Settings
create_table                     = true
hash_key                         = "LockID"
point_in_time_recovery_enabled = true
server_side_encryption_enabled   = true
stream_enabled                   = false
ttl_enabled                      = false
autoscaling_enabled              = false
