env      = " prod"
app_name = "minimal-gov-prod-state-backend"
region   = "ap-northeast-1"

tags = {
  Project = "minimal-gov"
}

versioning_enabled = true
force_destroy      = true

lifecycle_days = 30

allowed_account_ids = [
  # "123456789012", # network-account
  # "210987654321", # workloads-account
]
